.login-system {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  background-color: #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginform {
  background: #ffffff;
  width: 500px;
  color: #4caf50;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px #666363;
  padding-bottom: 30px;
}
.loginform h2 {
  font-size: 30px;
  margin: 30px 0px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.loginform form{
    text-align: left;
    padding: 0 50px;
}

label{
    margin-bottom: 10px;
}

/* .loginform input {
  width: 80%;
  margin: 0 auto;
} */

.loginform a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: #1e5220;
}
.loginform .have-not {
  float: right;
}
.loginform a:hover {
  color: #4caf50;
}

/*-- Responsive CSS --*/
@media (max-width: 576px) {
  .loginform {
    width: 90%;
  }
  .loginform a {
    display: block;
    text-align: center;
    float: inherit !important;
    margin: 10px 0px;
  }
}
