<section class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let course of getCourses">
        <div class="card mb-4">
          <div class="card-body">
            <div class="img my-3">
              <img src={{course.src}} alt=""/>
            </div>
            <h5 class="card-title">{{ course.title }}</h5>
            <p class="card-text">{{ course.para }}</p>
            <a
              [routerLink]="['/course', course.id]"
              routerLinkActive="router-link-active"
              class="btn btn-primary"
              >Read more</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
