<div id="hero">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="hero-text">
          <div class="hero-text" data-aos="zoom-in" data-aos-delay="100">
            <h2>Learning Today, Leading Tomorrow</h2>
            <p>We are team of talented designers making websites with Bootstrap</p>
            <button type="button" class="btn"><a [routerLink]="['/course-page']" routerLinkActive="router-link-active" >Get Started</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
