<div class="container pb-5">
  <div class="row mt-5">
    <div class="col-lg-6 order-2 order-lg-1">
      <div class="tab m-3">
        <h2>Impedit facilis occaecati odio neque aperiam sit</h2>
        <p>
          <i
            >Eos voluptatibus quo. Odio similique illum id quidem non enim fuga.
            Qui natus non sunt dicta dolor et. In asperiores velit quaerat
            perferendis aut
          </i>
        </p>
        <p>
          Iure officiis odit rerum. Harum sequi eum illum corrupti culpa
          veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi
          ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt
          fugiat sit ullam. Soluta et harum voluptatem optio quae
        </p>
      </div>
    </div>

    <div class="col-lg-6 order-1 order-lg-2">
      <div class="tab img">
        <img
          class="img-fluid"
          src="../../assets/Images/course-details-tab-3.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
