<div class="container pb-5">
  <div class="row mt-5">
    <div class="col-lg-6 order-2 order-lg-1">
      <div class="tab m-3">
        <h2>Et blanditiis nemo veritatis excepturi</h2>
        <p>
          <i
            >Qui laudantium consequatur laborum sit qui ad sapiente dila parde
            sonata raqer a videna mareta paulona marka
          </i>
        </p>
        <p>
          Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia
          et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus
          eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus
          lerode pakto madirna desera vafle de nideran pal
        </p>
      </div>
    </div>

    <div class="col-lg-6 order-1 order-lg-2">
      <div class="tab img">
        <img
          class="img-fluid"
          src="../../assets/Images/course-details-tab-2.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
