<app-hero-section></app-hero-section>
<app-about-section></app-about-section>
<app-counter></app-counter>
<app-why-choose></app-why-choose>
<section id="popular-courses" class="courses py-5">
    <div class="container">

      <div class="section-title" data-aos="zoom-in">
        <h2>Courses</h2>
        <p>Popular Courses</p>
      </div>

      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <app-courses></app-courses>
      </div>

    </div>
  </section>

  <app-trainer></app-trainer>

